<div class="container">

  <div>
    <acme-navbar creation-date="dashboardCtrl.creationDate"></acme-navbar>
  </div>

  <div class="container-heading">
    <div class="col-md-12">
      <h1 class="page-title">Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
     
      <select class="form-control" ng-options="year as year for year in dashboardCtrl.years" ng-model="dashboardCtrl.year">          
           </select>
    </div>
    <div class="col-md-5">
     
      <select class="form-control" ng-options="month as month for month in dashboardCtrl.months" ng-model="dashboardCtrl.month">         
           </select>

    </div>
    <div class="col-md-2">
    
      <input type="button" class="btn btn-primary" value="GO" ng-click="dashboardCtrl.getaccountDetails()" />
    </div>
  </div>

  <div class="row">
  </div>

  <div class="row">
    <div class="col-md-12">
<br/>
<br/>
<br/>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>R&D</th>
            <th>Canteen</th>
            <th>CEO's Car</th>
            <th>Marketing</th>
            <th>Parking Fines</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat="account in dashboardCtrl.filterAccountDetails">
            Rs: {{account.Price}}</td>
            <!--<td>Rs:{{account.AccountType == 2 ? account.Price : '-' |number:2}}</td>
            <td>Rs:{{account.AccountType == 3 ? account.Price : '-' |number:2}}</td>
            <td>Rs:{{account.AccountType == 4 ? account.Price : '-' |number:2}}</td>
            <td>Rs:{{account.AccountType == 5 ? account.Price : '-' |number:2}}</td>        -->
          </tr>

        </tbody>
      </table>


    </div>
  </div>


</div>