﻿@model LoginViewModel

@{
    Layout = "_AccountLayout";
}


<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    @*<img src="img/logo.png" alt="" />*@
                                    <h5><b>Commercial Pay Vacuums</b></h5>
                                </div>
                            </header>
                            <div id="login-box-inner">
                                <form role="form" asp-controller="Account" asp-action="Login" method="post">

                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input class="form-control" type="text" placeholder="Email" asp-for="Email">
                                    </div>
                                    @*<span asp-validation-for="Email" class="text-danger"></span>*@

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Enter password" asp-for="Password">
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>


                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-success col-xs-12">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var form = $('form')
                , formData = $.data(form[0])
                , settings = formData.validator.settings
                // Store existing event handlers in local variables
                , oldErrorPlacement = settings.errorPlacement
                , oldSuccess = settings.success;

            settings.errorPlacement = function (label, element) {
                // Call old handler so it can update the HTML
                oldErrorPlacement(label, element);

                // Add Bootstrap classes to newly added elements
                element.parents('.input-group').addClass('has-error');
                label.addClass('text-danger');
            };

            settings.success = function (label, element) {
                // Remove error class from <div class="form-group">, but don't worry about
                // validation error messages as the plugin is going to remove it anyway
                $(element).parents('.input-group').removeClass('has-error');

                // Call old handler to do rest of the work
                oldSuccess(label);
            };
        });
    </script>

}
