﻿span.field-validation-error {
    font-size: 13px;
    /* padding-left: 52px; */
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.text-danger {
    color: red !important;
}

.abv-no-padding-left {
    padding-left: 0!important
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color:transparent !important;
}

.payment-btn:hover {
    background-color: brown !important;
}

.margin-top-5 {
    margin-top: 5px;
}