<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2 login">
            <form name="loginCtrl.loginForm" class="form-horizontal" role="form" novalidate>
                <h2 class="logo-text">Login to Accounts balance viewer </h2>
                <hr/>

                <div ng-show="loginCtrl.errorText" class="common-error">{{loginCtrl.errorText}}</div>

                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username (Your Email)" data-ng-model="loginCtrl.user.userName"
                        required autofocus>
                    <span class="form-validation-containter" ng-show="(loginCtrl.loginForm.username.$dirty || loginCtrl.isSubmitted) && loginCtrl.loginForm.username.$invalid">
                        <span ng-show="loginCtrl.loginForm.username.$error.required">Username is required</span>
                </div>
                <div class="form-group">
                    <input type="password" name="password" required class="form-control" placeholder="Password" data-ng-model="loginCtrl.user.password"
                        required>
                    <span class="form-validation-containter" ng-show="(loginCtrl.loginForm.password.$dirty ||loginCtrl.isSubmitted) && loginCtrl.loginForm.password.$invalid">
                        <span ng-show="loginCtrl.loginForm.password.$error.required">Password is required</span>
                    </span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-info btn-block" data-ng-click="loginCtrl.isSubmitted = true;loginCtrl.tryLogin();">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>