﻿
@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Abv.WebAPI</title>

</head>
<body class="theme-whbl fixed-header boxed-layout">
    <div id="theme-wrapper">

                    @RenderBody()

</div>

</body>
</html>