<div class="container">

  <div>
    <acme-navbar creation-date="dashboardCtrl.creationDate"></acme-navbar>
  </div>


<div class="container-heading">
    <div class="col-md-12">
        <h1 class="page-title">Update Excel sheet</h1>
    </div>
</div>

<div class="container-white">
    <div class="row">
        <div class="col-md-10">
            <form name="fileUploadCtrl.fileUploadForm" method="POST" enctype="multipart/form-data" role="form" class="form-top-bottom-padding-20"
                novalidate>

                <div ng-show="fileUploadCtrl.commonErrorText" class="common-error">{{fileUploadCtrl.commonErrorText}}</div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Year</label>
                         <!--<selectt name="expensesYear" class="form-control" ng-options="year as year for year in fileUploadCtrl.years" ng-model="fileUploadCtrl.file.year">          
           </select>-->
             <select name="expensesMonth" class="form-control" ng-options="year as year for year in fileUploadCtrl.years" ng-model="fileUploadCtrl.file.year">         
           </select>
                        <!--<input name="expensesYear" type="text" class="form-control" placeholder="Year" data-ng-model="fileUploadCtrl.file.Year"
                            required autofocus>-->
                        <span class="form-validation-containter" ng-show="(fileUploadCtrl.fileUploadForm.expensesYear.$dirty || fileUploadCtrl.isSubmitted) && fileUploadCtrl.fileUploadForm.expensesYear.$invalid">
                            <span ng-show="fileUploadCtrl.fileUploadForm.expensesYear.$error.required">Year is required</span>
                        </span>
                    </div>
                </div>
                     <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Month</label>
                           <select name="expensesMonth" class="form-control" ng-options="month as month for month in fileUploadCtrl.months" ng-model="fileUploadCtrl.file.month">         
           </select>

                        <!--<input name="expensesMonth" type="text" class="form-control" placeholder="Month" data-ng-model="fileUploadCtrl.file.Month"
                            required autofocus>-->
                        <span class="form-validation-containter" ng-show="(fileUploadCtrl.fileUploadForm.expensesMonth.$dirty || fileUploadCtrl.isSubmitted) && fileUploadCtrl.fileUploadForm.expensesMonth.$invalid">
                            <span ng-show="fileUploadCtrl.fileUploadForm.expensesMonth.$error.required">Month is required</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Description:</label>
                        <textarea name="fileDescription" class="form-control" placeholder="File Description" data-ng-model="fileUploadCtrl.file.FileDescription"
                            required></textarea>
                        <span class="form-validation-containter" ng-show="(fileUploadCtrl.fileUploadForm.fileDescription.$dirty || fileUploadCtrl.isSubmitted) && fileUploadCtrl.fileUploadForm.fileDescription.$invalid">
                            <span ng-show="fileUploadCtrl.fileUploadForm.fileDescription.$error.required">File Description is required</span>
                        </span>
                    </div>

                    <div ng-hide="fileUploadCtrl.file.Id || fileUploadCtrl.file.Id == 0" class="form-group">
                        <label class="control-label">Excel File:</label>
                        <span>(Please upload only excel files and please consider update might take few minutes)</span>
                        <input type="file" nv-file-select uploader="fileUploadCtrl.uploader" />
                    </div>
                    <br/>
                </div>

                <div class="col-md-12">
                    <button class="btn btn-success pull-right" type="submit" ng-click="fileUploadCtrl.isSubmitted=true;fileUploadCtrl.uploadFile()">Update File</button>
                    <a class="btn btn-info" href="/#/dashboard">Back to Files<a>
                </div>

            </form>
        </div>
    </div>
</div>

</div>