<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('dashboard')}"><a ui-sref="dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
        <li ng-if="vm.authService.isAdmin()" ng-class="{active: $state.includes('fileupload')}"><a ui-sref="fileupload">Upload Files</a></li>
        <li ng-if="vm.authService.isAdmin()" ng-class="{active: $state.includes('report')}"><a ui-sref="report">Reports</a></li>
        <li ng-class="{active: $state.includes('logout')}"><a ng-click="vm.logOff()">Logout</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>