<div class="container">

  <div>
    <acme-navbar creation-date="dashboardCtrl.creationDate"></acme-navbar>
  </div>


  <div class="container-heading">
    <div class="col-md-12">
      <h1 class="page-title">Line chart</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">

      <select class="form-control" ng-options="year as year for year in reportCtrl.years" ng-model="reportCtrl.year">          
           </select>
    </div>
<br/>
<br/>
<br/>
<br/>
    <div class="col-md-2">
      <input type="button" ng-click="reportCtrl.getReportData(reportCtrl.year)" value="GO" class="btn btn-primary"/>
    </div>
  </div>

  <highchart id="chart1" config="reportCtrl.lineChartConfig"></highchart>
</div>